<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} -[console]- %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="console" additivity="false">
        <level value="debug"/>
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>

